@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-card {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -64%);
}
.auth-pg {
	background-image: url("../public/images/auth-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}
@media (max-width: 640px) {
	.auth-pg {
		background-image: url("../public/images/auth-bg.png");
		background-repeat: no-repeat;
		background-size: contain;
	}
	.auth-card {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -58%);
	}
}
